**/*-examples/**/pom.xml
**/*-examples/**/codetrans-config.json
**/*-examples/**/README.adoc
**/*-examples/**/README.md
**/*-examples/**/src/main/java
**/*-examples/**/src/main/groovy
**/*-examples/**/src/main/js
**/*-examples/**/src/main/rb
**/*-examples/**/src/main/resources
**/*-examples/**/src/main/generated
**/*-example/**/pom.xml
**/*-example/**/codetrans-config.json
**/*-example/**/README.adoc
**/*-example/**/README.md
**/*-example/**/src/main/java
**/*-example/**/src/main/groovy
**/*-example/**/src/main/js
**/*-example/**/src/main/rb
**/*-example/**/src/main/resources
**/*-example/**/src/main/generated
**/maven-simplest/src
**/maven-simplest/pom.xml
**/maven-verticles/**/src
**/maven-verticles/**/pom.xml
**/examples-utils
**/src/it/pom.xml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
logo-white-big.png
